# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
*.db
*.db-journal
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PyInstaller / Build outputs
build/
dist/
updater.bat
run_app.py
run_app.spec

# App Specific
scratch/
.gemini/
static/uploads/*
!static/uploads/.gitkeep

